.preferences-box {
  background-color: gray;
}



input[type=checkbox]:checked+.toggle-section {
  /* color: #f00;
    background-color: #f00; */
  font-style: normal;
  visibility: visible;

}

.meals-section>.toggle-section {
  visibility: hidden;
}