.preferences-box {
  background-color: #B0C8BC;
  border-radius: 1rem;
  
}

.h3_3 {
  position: relative;
  left: 25px;
}

.para_3 {
  position: relative;
  left: 25px;
}

.userprefhead_3 {
  display: flex;
  justify-content: center;
  color: #EA5E5E;
  
}
.userprefhead_3 h1 {
  justify-content: center;
}

.diets-section {
  display: grid;
  grid-template-columns: 1fr;
}

input[type=checkbox]:checked+.toggle-section {
  /* color: #f00;
    background-color: #f00; */
  font-style: normal;
  visibility: visible;

}

.experience__content {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  row-gap: 0.1rem;
  justify-content: center;
}

.meals-section>.toggle-section {
  visibility: hidden;


}

.add-btn, .remove-btn {
background: #FFC6C6;
text-align: center;

}

.submitbtn_3 {
  background-color: #F97F7F;
  color: #000000;
  border-radius: 0.3rem;
  position: absolute;
  height: 25px;
  width: 80px;
  bottom: 225px;
  right: 160px;
}

.intol_3 {
  display: flex;
  justify-content: center;
}
