.preferences-box {
  background-color: #85bba0;
  border-radius: 1rem;
  width: 80%;
  margin: 0 auto;
}

.h3diets_3 {
  position: relative;
  /* margin-left: 25px; */
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.paradiets_3 {
  position: relative;
  text-align: center;
  /* margin-left: 25px; */
  /* margin-right: 10px; */
  font-size: 15px;
  margin-bottom: 10px;
}

.h3intol_3 {
  /* position: relative; */
  text-align: center;
  /* margin-left: 25px;*/
  margin-top: 10px;
  margin-bottom: 10px;
}

.h3meals_3 {
  /* position: relative; */
  text-align: center;
  /* margin-left: 25px;*/
  margin-top: 10px;
  margin-bottom: 10px;
}


.userprefhead_3 {
  display: flex;
  justify-content: center;
  color: #EA5E5E;

}

.userprefhead_3 h1 {
  justify-content: center;
}

.diets-section {
  display: grid;
  grid-template-columns: 1fr;
}



#togglesection5>input[type=checkbox]:checked+.toggle-section {
  visibility: visible;
}

.experience__content {
  display: grid;
  margin-left: 50px;
  grid-template-columns: 0fr 2fr 0fr 2fr;
  gap: 0.2rem;
  font-size: 12px;
  justify-content: center;

}

#togglesection5>.toggle-section {
  visibility: hidden;

}

.toggle-section {
  /* margin-left: 30px; */
  /* justify-self: end; */
  font-size: 15px;
  /* width: auto; */
  margin-right: 60px;
  /* flex-grow: 1; */
  margin-left: auto;
}

.add-btn,
.remove-btn {
  background: #F97F7F;
  text-align: center;
  padding: 2px;
  font-weight: 900;
  border-radius: 10px;
}



.submitbtn_3 {
  background-color: #F97F7F;
  margin-left: 36%;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-radius: 0.3rem;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

#togglesection5 {
  text-align: center;
  font-size: 15px;
  /* margin-right: 0; */
  /* width: 50px; */
}

.mealsection5>#togglesection5 {
  display: flex;
  margin-left: 35px;
  width: 100%;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  flex-direction: row;
  grid-template-columns: 1fr, 1fr, 1fr;
}

#breakfast-budget,
#lunch-budget,
#dinner-budget,
#snacks-budget,
#dessert-budget {
  width: 40px;
  margin-left: 10px;
  border-radius: 5px;
  border: 0;
  margin-right: auto;
}

.intol_3 {
  width: 70%;
  margin: 0 auto;
}

.services {
  display: flex;
  justify-content: center;
}

.first-division>input {
  width: 150px;
  border: #000000;
}

.first-division>input:last-child {
  width: 150px;
  background-color: #FFC6C6;
  color: black;
  text-align: center;
}