.historyH1{
    text-align: center;
    color: #EA5E5E;
    padding-bottom: 20px;
    padding-top: 50px;
}

.shoppingListBtn > button {
    background-color: #F97F7F;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #19323B;
    font-weight: bold;
}
.faveBtn{
    display: flex;
    justify-content: center;
    margin-right: auto;
    width: 40%;
    margin-bottom: 20px;
}
.faveBtn > button {
    background-color: #F97F7F;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #19323B;
    font-weight: bold;
}
.week {
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
}