.backButton {
    display: flex;
}

.backButton>p {
    font-size: 20px;
    width: 50px;
    line-height: 50px;
    margin-left: 10px;
}

.backButton>img {
    width: 40px;
    margin-left: 10px;
}

.recipeTitleDiv {
    color: #EA5E5E;
    /* margin-left: 20px; */
    display: flex;
}

.recipeTitleDiv>h1 {
    margin: auto;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.unfavedRecipePage {
    background-image: url('../../images/emptyHeart.png');
    width: 40px;
    height: 40px;
    background-size: 100%;
    margin-top: 30px;
}

.favedRecipePage {
    background-image: url('../../images/filledHeart.png');
    width: 40px;
    height: 40px;
    background-size: 100%;
    margin-top: 30px;
}

.servingsInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #EAFBEA;
    padding-bottom: 20px;
}

.recipePriceTimeServ {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recipePriceTimeServ>li {
    text-align: center;
    background-color: #f9fffd;
    padding: 8px;
    border-radius: 10px;
    border: 3px solid #EA5E5E;
}

.recipeIngredients {
    padding-top: 20px;
    padding-bottom: 20px;

}

.recipeSummary5 {
    font-size: 12px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#recipeList5 {
    /* margin-left: 43px; */
    text-align: center;
}

#InstructionsList5 {
    /* margin-left: 43px; */
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.conversion {
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    margin-right: 30px;
    /* margin-left: 50px; */
    border: 3px solid #EA5E5E;
    background-color: #EA5E5E;
}

.ingredientsAndNutrition {
    width: 100%;
    display: block;
    margin: auto;
    justify-content: center;
}

.recipeImgDiv {
    text-align: center;
}

#recipelink5 {
    color: #EA5E5E;
}

.originalRecipe {
    text-align: center;
    margin-bottom: 15px;
}

#recipeInstructions5 {
    font-size: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#recipeImg5 {
    width: 300px;
}

#spoonacular-nutrition-label {
    /* padding-top: 20px; */
    width: 100%;
    margin-left: 45px;
    /* margin: auto; */
}

#ingredientTitleDiv5 {
    display: flex;
    justify-content: space-between;
}

.ingredientsList {
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 15px;
}

#ingredientList5 {
    margin-left: 43px;
    display: flex;
}

.nutrition {
    width: 50%;
}

#recipeTitle5 {
    font-size: 25px;
    text-align: center;
}


#spoonacular-nutrition-label,
#spoonacular-nutrition-ingredient-list {
    border: 2px solid black;
    /* margin-right: 30px; */
    /* flex-direction: row; */
    border-radius: 10px;
    width: 300px;
    padding: .5rem;
    font-family: Helvetica, Arial, sans-serif, sans-serif;
    font-size: 10px;
    color: #333;
    background-color: #fff
}

#spoonacular-nutrition-ingredient-list {
    text-transform: uppercase;

}

#spoonacular-nutrition-label div.separator {
    border-bottom: 10px solid black;
    font-size: 12px;
}

#spoonacular-nutrition-label>div:first-of-type {
    border-bottom: 10px solid black;
    /* padding: 0 0 .05rem 0; */
    margin: 0 0 .5rem 0
}

#spoonacular-nutrition-label>div:first-of-type p {
    margin: 0;
    font-size: 12px
}

#spoonacular-nutrition-label table {
    border-collapse: unset;
    border-spacing: 0;
    font-size: 12px;
    width: 100%
}

#spoonacular-nutrition-label table td {
    font-weight: normal;
    text-align: left;
    padding: .05rem 0;
    font-size: 12px;
    border-top: 1px solid black;
    font-size: 10px;
    vertical-align: middle
}

#spoonacular-nutrition-label table .empty {
    width: 1rem;
    border-top: 0
}

#spoonacular-nutrition-label table #calorie-summary td {
    font-size: 12px;
    border: 0 none !important
}

#spoonacular-nutrition-label b {
    font-weight: 900;
    /* font-size: 10px; */
}

/* #spoonacular-nutrition-label b:nth-of-type(1) {
    font-weight: 1000;
    font-size: 10px;
} */

#spoonacular-nutrition-label .separator td {
    border-top-width: 5px;

}

#spoonacular-nutrition-label table:first-of-type td:last-child {
    text-align: right !important;

}

#spoonacular-nutrition-label table:nth-of-type(2) td:first-child {
    text-align: left !important;
    font-size: 0px;
    border-color: white;

}

#spoonacular-nutrition-label table:nth-of-type(2) td:nth-of-type(2) {
    text-align: right !important;
    border-color: white;
    font-size: 0px;
    height: 0;
}

#spoonacular-nutrition-label .small {
    font-size: 10px;
    border-color: white;
    /* display: none; */
}

#spoonacular-nutrition-label h1.separator {
    border-bottom: 1px solid black
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
