header {
    /* position: fixed; */
    top: 0;
    width: 100%;
    display: flex;
    background-color: #1F6650;
    font-size: 16px;
    z-index: 1;
    justify-content: right;
}

.active {
    font-weight: bold;
    border-bottom: 5px solid #EA5E5E !important;
}

.topnav {
    display: none;
}

.navBar>li {
    padding: 1.5vw;
    margin-top: 5vh;
}

.navBar>li>a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

.sidenav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.sideNavBar>li>a {
    cursor: pointer;
    color: #19323B;
}

.sideModal {
    position: absolute;
    height: 100vh;
    background-color: #6F9A8D;
    width: 75%;
    z-index: 9998;
}

.sideNavBar {
    padding-top: 20vh;
}

.sideNavBar>li {
    list-style-type: none;
    padding: 5px;
    padding-top: 5%;
    padding-left: 10%;
    font-size: 1.5em;
    margin: 20px 30px;
    border-radius: 15px;
    background-color: #EAEEEC;
    text-align: center;
    border: 5px solid #1F6650;
}


.navIcon {
    z-index: 9999;
    margin: 15px;
    padding: 10px 15px;
    background-color: #F97F7F;
    border: none;
    outline: none;
}



@media (min-width: 320px) {
    header {
        font-size: 20px;
    }

    .sideNavBar {
        padding-top: 22vh;
    }

    .sideNavBar>li {
        padding: 15px;
        padding-left: 15%;
    }

    .navIcon>li {
        font-size: 50px;
    }

    .sideNavBar>li:last-child {
        margin-top: 20px;
    }
}

@media (min-width: 360px) {
    header {
        font-size: 20px;
    }

    .sideNavBar {
        padding-top: 12vh;
    }

    .navIcon>i {
        font-size: 25px;
        width: 20px;
        color: #19323B;
    }

    .sideNavBar>li {
        padding: 15px;
        font-size: 1.25em;
    }

    .sideNavBar>li:last-child {
        margin-top: 30px;
    }
}


@media (min-width: 768px) {
    .navIcon {
        margin: 30px;
    }

    .sideModal {
        width: 60%;
        height: 100vh;
    }

    .sideNavBar>li {
        font-size: 1.75em;
    }

    .sideNavBar {
        padding-top: 20vh;
    }

    .sideNavBar>li:last-child {
        margin-top: 30px;
    }
}

@media (min-width: 960px) {
    .sideNavBar {
        padding-top: 10vh;
    }
}

@media (min-width: 1024px) {
    .sidenav {
        display: none;
    }

    .sideModal {
        display: none;
        visibility: hidden;
    }

    .topnav {
        display: flex;
        width: 100%;
    }

    .navBar {
        display: flex;
    }

    .navBar>li {
        padding: 15px;
        margin-top: 55px;
        font-size: 1.15em;
        list-style-type: none;
    }

}