.footerNames {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.footerNames > li {
    text-align: center;
    font-size: 12px;
    width: 20%;
}
.footerNames > li > a {
    color: #EAEEEC;
    font-weight: bold;
}
footer {
    background-color: #1F6650;
    text-align: center;
    padding: 10px;
}
footer > p {
    color: #EAEEEC;
    padding-bottom: 10px;
    font-weight: bold;
}