.Collapsible {
    background-color: aquamarine;
}
.Collapsible__trigger{
    background-color: bisque;
}
.recipe {
    background-color: aliceblue;
    display: flex;
}
.recipeCardImg {
    width: 100px;
}
.unlocked {
    background-color: aqua;
    background-image: url('../../images/openLock.png');
    width: 50px;
    height: 50px;
}
.locked {
    background-color: rgb(175, 107, 189);
    background-image: url('../../images/closedLock.png');
    width: 50px;
    height: 50px;
}

