.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #85bba0;
  border-radius: 15px;
  width: 280px;
  padding: 10px 10px;
  align-items: flex-start;
}

.signUp2 {
  height: 580px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.signUp {
  margin: 0 auto;
  margin-top: 20px;
  width: 180px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;

}

.btndiv2 {
  margin: 10px;
  display: flex;
  justify-content: center;
}


.login2 {
  height: 620px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.haveAccount2 {
  background-color: #f97f7f;
  width: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}



input[type="text"]:focus {
  border: 3px solid #555;
}

.loginForm > label {
  display: block;
  margin: 0 auto;
  width: fit-content;
  font-size: 20px;
  border: 10px;
  padding: 7.5px;
}

.Login {
  margin: 0 auto;
  margin-top: 20px;
  width: 180px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

.loginForm > input {
  height: 40px;
  width: 240px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 10px;
  margin: 0 auto;
}

.loginError {
  margin-top: 10px;
  color: red;
}
.LoginHeader{
  text-align: center;
  color: #EA5E5E;
}
.registerHeader{
  text-align: center;
    color: #EA5E5E;
}

#loginBtn {
  margin-bottom: 100px;
}