.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* background-color: #041129; */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  position: relative;
}

.wrapper>* {
  grid-column: col-start / span 12;
}

.mouseSquares {
  position: absolute;
  width: 100%;
  height: 160vh;
}

.mouseSquare1 {
  /* border: 3px solid #FF0A78; */
  width: 15px;
  height: 15px;
  position: fixed;
  top: 10vh;
}

.mouseSquare2 {
  /* border: 3px solid #FF0A78; */
  width: 20px;
  height: 20px;
  position: fixed;
  opacity: 0.75;
}

.mouseSquare3 {
  /* border: 3px solid #FF0A78; */
  width: 25px;
  height: 25px;
  position: fixed;
  opacity: 0.5;
}

.mouseSquare4 {
  /* border: 3px solid #FF0A78; */
  width: 30px;
  height: 30px;
  position: fixed;
  opacity: 0.25;
}

.line {
  /* background-color: #FF0A78; */
  opacity: 0.5;
  height: 3px;
  visibility: hidden;
}

.lineType1 {
  flex-grow: 1;
  margin-top: 25px;
  margin-left: 10px;
  z-index: -1;
}

.lineType2 {
  display: inline-block;
  flex-grow: 1;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 10px;
  z-index: -1;
}

.lineType3 {
  display: inline-block;
  flex-grow: 1;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 10px;
  z-index: -1;
}

.sideLine {
  /* background-color: #FF0A78; */
  opacity: 0.5;
  width: 3px;
  position: fixed;
  right: 15px;
  top: 120px;
  height: 100vh;
  z-index: -1;
}

.bottomLine {
  margin-top: 30px;
  margin-bottom: 15px;
  visibility: visible;
}

.introText {
  margin-left: 12vw;
  margin-top: 40vh;
}

.introText>h2 {
  /* color: #0A99FF; */
  font-size: 24px;
  width: 90%;
}





.bottomLogo {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
}

.bottomSquare1 {
  border: 3px solid #FF0A78;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}

.bottomSquare2 {
  /* border: 3px solid #FF0A78; */
  width: 70px;
  height: 70px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.bottomSquare3 {
  /* border: 3px solid #FF0A78; */
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.bottomLogoText {
  font-size: 36px;
  text-align: center;
  line-height: 100px;
  margin-left: 20px;
}

.bottomLinksDiv {
  width: 75%;
  margin: 0 auto;
  padding-left: 15px;
}

.bottomLinks {
  display: flex;
  list-style-type: none;
  margin-bottom: 15px;
  justify-content: center;
}

.bottomLinkImg {
  width: 80%;
  padding: 5px;
}


@media (min-width: 320px) {
  .mouseSquares {
    height: 120vh;
  }

  .introText {
    margin-top: 25vh;
  }

  h1 {
    font-size: 36px;
  }

  .bottomLogo {
    width: 100px;
    height: 100px;
  }

  .bottomSquare1 {
    width: 100px;
    height: 100px;
  }

  .bottomSquare2 {
    width: 90px;
    height: 90px;
  }

  .bottomSquare3 {
    width: 80px;
    height: 80px;
  }

  .bottomLogoText {
    font-size: 48px;
    line-height: 110px;
  }

  .bottomLinksDiv {
    width: 65%;
  }
}

@media (min-width: 360px) {
  .mouseSquares {
    height: 110vh;
  }

  .introText {
    margin-top: 25vh;
  }

  .introText>h2 {
    font-size: 28px;
  }

  h1 {
    font-size: 40px;
  }

  .bottomLinksDiv {
    width: 50%;
  }
}

@media (min-width: 500px) {
  .line {
    visibility: visible;
  }

  .mouseSquares {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .intro {
    margin-top: 75px;
  }

  .introText {
    grid-column: col-start / span 6;
    grid-row: 1;
  }

  .memoji {
    grid-column: col-start 7/ span 6;
    grid-row: 1;
    margin-right: 3.5vw;
    margin-top: 20vh;
  }

  .introText {
    margin-left: 80px;
  }

  .introText>h2 {
    font-size: 32px;
  }

  h1 {
    font-size: 56px;
  }



  .sideLine {
    right: 30px;
  }

  .bottomLine {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .bottomLinks>li {
    width: 100px;
    margin-left: 20px;
  }



  .bottomLinksDiv {
    width: 45%;
    padding-left: 0px;
  }


}

@media (min-width: 1024px) {
  .intro {
    margin-bottom: 100px;
    max-width: 1400px;
    margin: 0 auto;
  }

  .introText {
    margin-left: 10vw;
    margin-top: 25vh;
  }

  .introText>h2 {
    font-size: 36px;
  }


  .memoji {
    margin-right: 5vw;
    margin-top: 16vh;
  }

  .aboutText {
    grid-column: col-start 6 / span 6;
    grid-row: 2;
  }

  .aboutImgDiv {
    grid-column: col-start / span 6;
    grid-row: 2;
  }

  .intro {
    margin-top: 100px;
    margin-bottom: 150px;
  }
}

@media (min-width: 1200px) {
  .introText {
    margin-left: 200px;
    margin-top: 230px;
  }

  .sectionDiv {
    max-width: 1400px;
    margin: 0 auto;
  }

  .mouseSquares {
    position: absolute;
    /* background-color: #0AC3FF; */
    width: 100%;
    height: 700px;
    /* margin-left: auto; */
  }
}